
<div >
  <div class="card border-primary mt-4">
    <h5 class="card-header">Test item</h5>
    <div class="card-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus sodales semper. Nulla tincidunt ligula et laoreet scelerisque. Fusce at aliquet justo. Etiam congue ipsum et varius aliquet.
      </p>
      <div class="d-flex w-100 justify-content-end">
        <footer class="card-text text-muted"><small>Added 20.04.2020</small></footer>
      </div>
      <div class="btn-group d-flex justify-content-around w-100">
        <button class="btn-outline-danger btn mr-2">Delete</button>
        <button class="btn-outline-success btn ml-2">Modify</button>
      </div>
    </div>
  </div>
</div>
