
<div class="container">
  <div class="row mt-5">
    <div class="col text-center h1">Welcome to <span class="font-weight-bold font-italic">item-server</span><small class="text-muted ml-2 small">0.2</small></div>
  </div>
  <!-- storage -->
  <div class="row mt-5">
    <div class="col-4">
      <div class="card border-primary">
        <div class="card-header">Storage</div>
        <div class="card-body">To time server stores <span class="font-weight-bold">??</span> items in <span class="font-weight-bold">??</span> categories. The most items is of type <span class="font-weight-bold">??</span> and the least of type <span class="font-weight-bold">??</span></div>
      </div>
    </div>
    <!-- locations -->
    <div class="col-4">
      <div class="card border-primary">
        <div class="card-header">Locations</div>
        <div class="card-body">Items are stored in <span class="font-weight-bold">??</span> different locations in <span class="font-weight-bold">??</span> cities on average of <span class="font-weight-bold">??</span> items per location</div>
      </div>
    </div>
    <!-- empty -->
    <div class="col-4">
      <div class="card border-primary">
        <div class="card-header">Empty</div>
        <div class="card-body">Lorem ipsum ...</div>
      </div>
    </div>

    </div>
</div>
